.header {
    background-color: #7E121D; /* Deep red background */
    color: #CEAC5C; /* Golden letters */
    padding: 1rem;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
    align-self: center;
    width: 100%; /* Make header full width */
    top: 0;
    box-sizing: border-box; /* Include padding in width calculation */
    margin: 0;
}

.header h1{
    font-size: 3rem;
    margin: 0;
}

header p{
    margin: 5px 0 0;
    font-size: 1.2rem;
}